

body{
font-family:'Segoe UI';
margin:0;
background:linear-gradient(135deg,#fbcfe8,#f9a8d4);
text-align:center;
color:#831843;
}

h1{
margin-top:30px;
}

.menu{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:12px;
margin:30px;
}

.menu button{
padding:12px 20px;
border:none;
border-radius:12px;
font-weight:bold;
cursor:pointer;
color:white;
background:linear-gradient(45deg,#ec4899,#db2777);
box-shadow:0 6px 15px rgba(0,0,0,0.2);
transition:0.3s;
}

.menu button:hover{
transform:translateY(-3px);
background:linear-gradient(45deg,#db2777,#be185d);
}

.modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.5);
justify-content:center;
align-items:center;
}

.modal-content{
background:white;
padding:30px;
border-radius:16px;
width:400px;
box-shadow:0 10px 25px rgba(0,0,0,0.3);
animation:fade .3s;
}

@keyframes fade{
from{transform:scale(.8);opacity:0}
to{transform:scale(1);opacity:1}
}

input{
padding:10px;
margin:8px;
border-radius:8px;
border:1px solid #ddd;
width:80%;
}

.actionBtn{
padding:10px 18px;
border:none;
border-radius:10px;
color:white;
background:linear-gradient(45deg,#f472b6,#ec4899);
cursor:pointer;
transition:0.3s;
}

.actionBtn:hover{
background:linear-gradient(45deg,#ec4899,#be185d);
}

.close{
margin-top:15px;
background:#aaa;
}

.colorBtn{
width:40px;
height:40px;
border-radius:50%;
border:3px solid white;
cursor:pointer;
margin:5px;
}
.gato-img{

border-radius:20px;
margin-top:20px;
cursor:pointer;

box-shadow:0 10px 25px rgba(0,0,0,0.3);

transition:all 0.4s ease;

border:4px solid white;
}

/* efecto cuando pasas el mouse */
.gato-img:hover{

transform:scale(1.08) rotate(2deg);

box-shadow:0 15px 35px rgba(0,0,0,0.4);

filter:brightness(1.1);

}

